@use 'sass:map';
@use '@angular/material' as mat;
$primary: #DD0031;
$secondary: #4AC0F0;
$error: #de3730;
$white: white;

$breakpoints: (
    xs: 0px,
    sm: 768px,
    md: 1024px,
    lg: 1400px,
    inf: infinity
);

$_palettes: (
    primary: (0: #000000,
        10: #410007,
        20: #680012,
        25: #7d0017,
        30: #92001d,
        35: #a80023,
        40: #bf0029,
        50: #ea1639,
        60: #ff525b,
        70: #ff8888,
        80: #ffb3b1,
        90: #ffdad8,
        95: #ffedeb,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
    ),
    secondary: (0: #000000,
        10: #001f2b,
        20: #003547,
        25: #004156,
        30: #004d65,
        35: #005975,
        40: #006686,
        50: #0081a7,
        60: #009cca,
        70: #3eb7e7,
        80: #6ed2ff,
        90: #bfe8ff,
        95: #e1f3ff,
        98: #f4faff,
        99: #fafcff,
        100: #ffffff,
    ),
    tertiary: (0: #000000,
        10: #301400,
        20: #4f2500,
        25: #5f2e00,
        30: #703800,
        35: #814100,
        40: #934b00,
        50: #b6600c,
        60: #d67929,
        70: #f69341,
        80: #ffb782,
        90: #ffdcc5,
        95: #ffede3,
        98: #fff8f5,
        99: #fffbff,
        100: #ffffff,
    ),
    neutral: (0: #000000,
        10: #291716,
        20: #402b2a,
        25: #4c3635,
        30: #584140,
        35: #654c4c,
        40: #725857,
        50: #8c716f,
        60: #a78a89,
        70: #c3a4a3,
        80: #e0bfbd,
        90: #fddbd9,
        95: #ffedeb,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
        4: #1a0a09,
        6: #200f0e,
        12: #2d1b1a,
        17: #392524,
        22: #452f2f,
        24: #4a3433,
        87: #f4d2d1,
        92: #ffe1e0,
        94: #ffe9e8,
        96: #fff0ef,
    ),
    neutral-variant: (0: #000000,
        10: #2d1515,
        20: #442929,
        25: #513433,
        30: #5d3f3e,
        35: #6a4a49,
        40: #775655,
        50: #926e6d,
        60: #ae8786,
        70: #caa1a0,
        80: #e7bcbb,
        90: #ffdad8,
        95: #ffedeb,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
    ),
    error: (0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
    ),
);

$_rest: (
    secondary: map.get($_palettes, secondary),
    neutral: map.get($_palettes, neutral),
    neutral-variant: map.get($_palettes, neutral-variant),
    error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);

$font-variants: (
    title-1: (ff: Roboto,
        fs: 58px,
        lh: 64px,
    ),
    title-3: (ff: Roboto,
        fs: 46px,
        lh: 52px,
        fw: 300),
    footer: (ff: Roboto,
        fs: 16px,
        lh: 20px,
        fw: bold),
    error: (ff: Roboto,
        fs: 12px,
        lh: 12px,
        fw: 300),
    )