<div class="container">
  <div class="logo">
    <img class="logo_src" src="assets/icons/logo.svg" alt="logo" />
  </div>
  <div class="form">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div class="form-title">
          <h3>Welcome to</h3>
          <h1>Angular Forms!</h1>
        </div>
      </mat-grid-tile>
      <div class="form-controls"></div>
      <mat-grid-tile>
        <div class="form-presentation">
          <img class="form-presentation_src" src="assets/icons/presentation.svg" alt="presentation" />
          <div class="form-presentation_square--primary"></div>
          <div class="form-presentation_square--secondary"></div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="footer"></div>
</div>
