@use '@angular/material' as mat;
@use '../abstracts/variables' as vars;

html {
    @include mat.theme((color: (theme-type: light,
                primary: vars.$primary-palette,
                tertiary: vars.$tertiary-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
}